.todoList
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.8rem
    font-family: sans-serif
    background: -webkit-linear-gradient(225deg, rgb(90, 36, 144), rgb(182, 82, 82))
    width: inherit
    height: 60px
    border-radius: 15px
    color: white

.inputWrapper
    display: flex
    justify-content: center
    margin: 25px
    position: relative
    > input
        width: 600px
        height: 60px
    > span
        color: red
        position: absolute
        top: 0
